<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="sing-up" class="ftco-section-parallax1 ">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2> Do what you love, get what you need <i class="icon-heart text-danger"
                                                                aria-hidden="true"></i></h2>
                    <p>Join thousands in our talent-exchanging community.</p>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-12">
                            <button class="nav-item cta cta cta-colored"><a th:href="@{/register}"
                                                                        class="nav-link">REGISTER</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>